/* .bg-image-container {
    background-image: url('../assets/images/flash.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 40px; 
    height: 400px; 
  }
  
  .text-row {
    text-align: center;
    margin-top: 20px; 
  } */

  .bg-image-container {
    background-image: url('../assets/images/flash.jpg');
    background-size: cover;
    background-position: center;
    color: white;
     /* padding: 40px;  */
    min-height: 700px; 
  }
  
.black-bg-opacity {
    padding: 15em 2em;
    background-color: rgba(0, 0, 0, 0.6); /* Black with opacity */
  }
  
  
  .text-container {
    text-align: left;
    /* opacity: 0.5; */
  }
  
  .text-row {
    text-align: center;
    margin-top: 1.5em; /* Adjust margin as needed */
  }

  .bg-image-signup-container {
    background-image: url('../assets/images/forest.jpg');
    background-size: cover;
    background-position: center;
    color: white;
     /* padding: 40px;  */
    /* min-height: 700px;  */
  }
  .wrapper{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.47);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.2px);
-webkit-backdrop-filter: blur(4.2px);
padding: 3em;
width: 25vw;

  }
  